Source: intelmq-webinput-csv
Maintainer: Sebastian Wagner <sebastian.wagner@intevation.de>
Section: net
Priority: optional
Build-Depends: debhelper (>= 9), dh-exec, dh-python, python3-setuptools,
 python3-all, yarn | yarnpkg (>= 1.21.1), rsync, python3-hug (>= 2.2.0),
Standards-Version: 3.9.6

Package: intelmq-webinput-csv-client
Architecture: all
Depends: ${misc:Depends}, apache2, apache2-utils
Description: intelmq-webinput-csv is a simple web interface allowing
 the user to insert data into intelmq's pipelines interactively with
 preview from the parser.
 .
 This package contains the web client.  To use intelmq-webinput-csv
 you will also need a server running the intelmq-webinput-csv backend.

Package: intelmq-webinput-csv-client-src
Architecture: all
Depends: ${misc:Depends}
Description: Full expanded source of intelmq-webinput-csv client.
 As the client is build using yarn, thereby downloading various sources
 during package building, the regular deb source packages doesn't
 contain most of the sources actually used to build the binary
 package.
 .
 This package contains the full tree with all dependencies installed
 during build time.  It is installed below /usr/src and mainly intended
 for reference.
 .
 In nearly all cases you won't need this package to rebuild
 intelmq-webinput-csv-client , just use the regular deb source
 packages.

Package: intelmq-webinput-csv-backend
Architecture: all
Depends: ${misc:Depends}, python3, ${python3:Depends}, python3-hug (>= 2.2.0),
 apache2, apache2-utils, libapache2-mod-wsgi-py3, intelmq (>= 3.0.0),
 dbconfig-sqlite3 | dbconfig-no-thanks, python3-psycopg2
Description: intelmq-webinput-csv is a simple web interface allowing
 the user to insert data into intelmq's pipelines interactively with
 preview from the parser.
 .
 This package contains the backend API as mod_wsgi application to run
 in apache2.
